{deps, [ {gproc, {git, "git://github.com/uwiger/gproc.git", {tag, "0.9.0"}}}
       ]}.

%%

{profiles, [ {dist, [ {src_dirs, ["erl_src", "output"]}
                    ]}
           , {test, [ {deps, []}
                    , {erl_opts, [debug_info]}
                    , {src_dirs, ["erl_src", "testoutput"]}
                    ]}
           ]}.

%% {pre_hooks,
%%   [ {"(linux|darwin|solaris|win32)", compile, "bash -c 'cd .. && make'"}
%%   , {"(linux|darwin|solaris|win32)", clean, "cd .. && make clean"}
%%   ]}.
